.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*

node_modules/

/scripts/unicode_data/

/*.d.ts
/*.js
/*.js.map
/*.cjs
/*.cjs.map
/bundle/

lcov.info

/.parcel-cache/
/dist/
